:root{
--space-xxs:2px;--space-xs:6px;--space-sm:8px;--space-10:10px;--space-md:12px;--space-lg:16px;--space-20:20px;--space-22:22px;
--space-xl:24px;--space-28:28px;--space-xxl:32px;--space-36:36px;--space-40:40px;--space-56:56px;--space-60:60px;--space-64:64px;
--space-section:80px;--space-section-lg:120px;
--container-max:1440px;--container-gutter:40px;--container-gutter-mobile:20px;
}
